<!DOCTYPE html>
<html>
  <head>
    <title>Turbolinks Test</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'https://png.icons8.com/office/30/000000/computer.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index:1000;">
      <div class="collapse navbar-collapse d-flex justify-content-center" id="navbar">
        <div class="navbar-nav">
          <div class="form-check form-check-inline">
            <input onclick="changeAnim(this);" name="anim" class="form-check-input" type="radio" id="radio1" value="fadeout,fadein" checked>
            <label class="form-check-label" for="radio1">fadeIn / fadeOut</label>
          </div>
          <div class="form-check form-check-inline">
            <input onclick="changeAnim(this);" name="anim" class="form-check-input" type="radio" id="radio2" value="fadeOutDown,fadeInUp">
            <label class="form-check-label" for="radio2">fadeInUp / fadeOutDown</label>
          </div>
          <div class="form-check form-check-inline">
            <input onclick="changeAnim(this);" name="anim" class="form-check-input" type="radio" id="radio3" value="slideOutUp,slideInDown">
            <label class="form-check-label" for="radio3">slideInDown / slideOutUp</label>
          </div>
          <div class="form-check form-check-inline">
            <input onclick="changeAnim(this);" name="anim" class="form-check-input" type="radio" id="radio4" value="zoomOut,zoomIn">
            <label class="form-check-label" for="radio4">zoomIn / zoomOut</label>
          </div>
        </div>
      </div>
    </nav>
    <div class="main animated">
      <%= yield %>
    </div>
  </body>
</html>
